.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}


.calc-button {
    width: 100%;
    color: white;
    font-size: 20px;
}

.calc-button:hover {
    color: white;
}

.calc-button:focus {
    color: white;
    box-shadow: none;
}

.calc-button:active {
    box-shadow: none;
}

.calc-operation-button {
    background-color: palevioletred;
    border-color:  rgb(160, 83, 109);
}

.calc-number-button {
    background-color: lightskyblue;
    border-color:  rgb(70, 182, 252);
}

.calc-operation-button:hover {
    background-color: rgb(175, 85, 115);
    border-color:  rgb(160, 83, 109);
    
}

.calc-number-button:hover {
    background-color: rgb(77, 145, 187);
    border-color:  rgb(70, 182, 252);
}

.calc-operation-button:focus {
    background-color: rgb(175, 85, 115);
    border-color:  rgb(160, 83, 109);
    
}

.calc-number-button:focus {
    background-color: rgb(77, 145, 187);
    border-color:  rgb(70, 182, 252);
}

.result-box{
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
    height: 50px;
    
    
}

.result-box > a{
    font-size: 22px;
    text-align: right;
    display:block;
    padding: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}